<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/style.css">

</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h3> possibility of setosa is: <b>
          <h2> <%= value1 %> </h2>
        </b></h3><br>
      <h3> possibility of virginica is: <b>
          <h2><%= value2 %></h2>
        </b></h3><br>
      <h3> possibility of versicolor is: <b>
          <h2><%= value3 %></h2>
        </b></h3>

    </div>

  </div>
</body>

</html>