<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/style.css">
  <!-- <script language="javascript"> $("#login-button").click(function(event){
        event.preventDefault();
    
    $('form').fadeOut(500);
   // $('body').fadeOut(500);
    $('.wrapper').addClass('form-success');
});
</script> -->

  <script>
    function validateForm() {
      var user = document.forms["loginForm"]["username"].value;
      var pass = document.forms["loginForm"]["password"].value;

      if (user == "") {
        alert("Enter USERNAME ");
        return false;
      }
      if (pass == "") {
        alert("Enter PASSWORD ");
        return false;
      }

    }
  </script>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <form action="/feedback" method="POST" class="form" name="loginForm" onsubmit="return validateForm()">
        <p>Username:</p>
        <input type="email" placeholder="Enter your email" name="username">
        <br>
        <p>Password :</p>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Login" id="login-button">
      </form>
      <form action="/signup" method="POST" class="form" name="regForm">
        <input type="submit" value="Register" id="reg-button" style="color:black;">
      </form>
    </div>

  </div>
</body>

</html>