<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/public/style.css">
        </head>
              
<body>
<html>
    <body>
        <table align="center">
            <tr>
                <td>Course:<%=name %> Room: <%= room%></td>
            </tr>
        </table>
    </body>
</html>
</body>
</html>